body {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.header {

    background-color: #008ecc;
    padding: 15px 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Aclonica';
    font-size: 25px;
}



.header input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.input-search {
    flex-grow: 1;
}



.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1.3em;
    cursor: pointer;
}


.cart {
    display: flex !important;
    justify-content: center;
    flex: 1;
    font-size: 2em !important;
    position: relative;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48,

}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 50px;
}

.container {
    background-color: #f1f3f6;
    padding: 2em 3em;
    display: flex;
}

.filter-container {
    flex: 1;
    padding: 2rem 1rem;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    background-color: white;
    border-radius: 0.3em;
    height: fit-content;
}

.products-container {
    flex: 4;
    display: flex;
    gap: 2em 1em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 0.3em;

}

.products-container a {
    text-decoration: none;
    color: inherit;
}

.product-image {
    width: 300px;
    height: 300px;
    margin-bottom: 1em;
    object-fit: fill;
}

.product-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    font-family: sans-serif;
    font-size: 0.8em;
    text-align: center;

}

.product-title {
    margin-bottom: .5em;
    font-weight: 600;
    font-size: .8em;

    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

select {
    width: 100%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.price-range {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.price-range span {
    font-size: .9em;
    color: #a3a3a3;
}

.filter-category {
    margin-bottom: 1rem;
}

.filter-category div {

    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 1.3em;
}


.price {
    color: #388e3c;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* cart */
.dropdown {
    position: relative;
    display: flex;
    flex: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;
    z-index: 1;
    left: 90px;
    top: 50px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-tile {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-basis: 300px;
    font-family: sans-serif;
    font-size: 0.5em;
    /* text-align: center; */
    /* justify-content: center; */
    margin-bottom: 1em;
    font-weight: 600;
}

.cart-title {
    font-weight: 600;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 3;
}

.cart-quantity {
    padding: 0em 0.3em;
}

.cart-price {
    color: #388e3c;
    flex: 1;
}

.cart-total {
    font-size: .7em;
    font-family: sans-serif;
    text-align: end;
}

.cart-count {
    position: absolute;
    top: 0px;
    left: 150px;
    color: black;
    font-size: 18px;
    padding-bottom: -6px;
    font-family: auto;
    font-size: .7em;
    font-weight: 700;
}


.quantity-input {
    width: 25px;
    text-align: center;
    height: 25px;
    margin: 0em 0.4em;
}

.no-products {
    font-size: .5em;
    font-family: sans-serif;
}

.delete {
    color: #a62020;
    font-size: 23px;
    cursor: pointer;
}

.cart-user {
    display: flex;
    flex: 1;
}

.user {
    flex: 1;
    font-size: 50px !important;
    text-align: center;
    position: relative;

}

/* user */

.hide {
    position: absolute;
    right: 136px;
    top: 65px;
    font-size: 13px;
    background: #564747;
    font-family: sans-serif;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: 700;
    display: none;
}

.user:hover+.hide {
    display: block;
}

/*  */

/*  */