body {
    margin: 0;
    padding: 0;
    background: #f1f3f6;
}


.container {
    /* margin: 4rem 0rem; */
    padding: 4rem 5rem;
    display: flex;
    /* background: #f1f3f6; */
}

.product-image {
    /* flex: 2; */
}

.product-image img {
    width: auto;
    height: 30em;
}

.product-detail {
    flex: 3;
    padding: 3em 2em;
    background: white;
}

.title {
    font-family: "Courier New";
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 0.1em;
}

.price {
    font-family: sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.stock {
    font-size: 1em;
    font-family: sans-serif;
    color: #00a651;
    margin-bottom: 0.8em;
    font-weight: 700;
}

.no-stock {
    font-size: 1em;
    font-family: sans-serif;
    color: #a71515;
    margin-bottom: 0.8em;
    font-weight: 700;
}

.description span {
    font-family: 'Roboto Mono', 'monospace';
    font-weight: 800;
}

.cart-section button {
    width: 10em;
    padding: 0.8em;
    background: #008ecc;
    color: white;
    border: 0;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed !important;
}

.description-content {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.header {
    background-color: #008ecc;
    padding: 15px 250px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Aclonica';
    font-size: 25px;
}


.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1.3em;
}

.cart {
    display: flex !important;
    font-size: 2em !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48,

}

.material-symbols-outlined {
    font-size: 50px;
}

.header input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.input-search {
    flex-grow: 1;
}


.quantity {
    margin-bottom: 0.6em;
    display: flex;
    align-items: center;
}

.quantity span {
    margin: 0em 0.2em;
}

.quantity button {
    border: 0;
    background: inherit;
    cursor: pointer;
}

.description-content li {
    margin-bottom: 1em;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.input-search {
    position: absolute;
    left: -999em;
}

/* cart */
.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    left: -130px;
    top: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-tile {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-basis: 300px;
    font-family: sans-serif;
    font-size: 0.5em;
    /* text-align: center; */
    /* justify-content: center; */
    margin-bottom: 1em;
}

.cart-title {
    /* margin-bottom: 0.5em; */
    font-weight: 600;
    /* font-size: .6em; */
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 3;
}

.cart-quantity {
    /* font-size: .7em; */
}

.cart-price {
    color: #388e3c;
    /* font-size: .7em; */
    flex: 1;
}

.cart-total {
    font-size: .7em;
    font-family: sans-serif;
}

.cart-count {
    position: absolute;
    top: 0px;
    left: 48px;
    color: black;
    font-size: 18px;
    /* background: black; */
    /* border-radius: 12px; */
    padding-bottom: -6px;
    /* width: 16px; */
    font-family: auto;
    font-size: .7em;
    font-weight: 700;
    /* height: 17px; */
}

.quantity-input {
    width: 25px;
    text-align: center;
    height: 25px;
    margin: 0em 0.4em;
}

.no-products {
    font-size: .5em;
    font-family: sans-serif;
}

.delete {
    color: #a62020;
    font-size: 23px;
    cursor: pointer;
}

/*  */